

#smoothmenu1 ul li { display: inline-grid; }

#smoothmenu1 ul li:not(#subitem) { width: 20%; }

#smoothmenu1 a { 
    padding: 10px 40px;
    text-decoration: none; 
}

ul:not(#subitem) { 
    width: 100%;
    position: relative;
    display: flex;
}

.container {
    margin: auto;
    width: 70%;
}

.ddsmoothmenu-v { background-color: #F4F4F4; }

#form1 { padding: 10px 20px; }

.gallery {
    width: 50%;
    margin: auto;
}